  
.hi{
  text-align:"center";
  font-style: italic;
  background-image: url(../IMG/Ombre\ Wallpaper\ Swatch\ -\ Blue.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
padding-top: 3%;
margin-top: auto;
word-spacing: normal;
text-align: center;
}

ul.list{
  color: rgb(39, 42, 42);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  text-align: center;
  padding:0%;
  position:relative;
  height: 0;
  line-height: 200%;
}
        
        
ul.list li:before {
  position:fixed;
  color:#455f72;}
        