body{
  background-color: Azure;
  background-image: url("../IMG/dep_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color:#2F4F4F;
  border: 0px solid  DarkSlateGray;
  text-align:center;
}
#hr1{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.p1{
color:#000080;
border: 1px solid DarkSlateGray;
background-color:GhostWhite
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#true{
  color: green;
}
#False{
  color: red;
}
